<div *ngIf="!loginDisplay">
    <mat-card class="title-card">
        <div class="center">
            <h1 class="center" style="color: blue;">
                Welcome to Angular app
            </h1>
            <p class="center">Please Login to get your microsoft active directory profile!</p>
        </div>
    </mat-card>
</div>

<div *ngIf="loginDisplay">
    <mat-card class="title-card">
        <div class="center">
            <h1 class="center" style="color: blue;">
                Welcome to Angular app
            </h1>
            <p class="center">Login successful!</p>
        </div>
    </mat-card>
</div>